@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --poppins: "Poppins", sans-serif;
  --Purple: #faf0f0;
  --lightWhite: #f3f4ff;
  --textColor: #ff3d3b;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
}

/* =======================================================================================================

=========================================================================================================*/

.left-part {
  background-color: var(--Purple);
  padding-left: 46px;
  padding-top: 50px;
  width: 502px;
}

.logo {
  display: flex;
  align-items: center;
  padding-bottom: 64px;
}

.logo h2 {
  color: #fff;
  font-family: var(--poppins);
  font-size: 36px;
  font-weight: 700;
  border-radius: 16px;
  background: #fb7d5b;
  padding: 4px 12px;
}

.logo h1 {
  color: var(--Color-White, #fff);
  font-family: var(--poppins);
  font-size: 36px;
  font-weight: 700;
  padding-left: 16px;
}

.main-box {
  display: flex;
}

.list {
  width: 100%;
  padding: 16px 24px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  margin-bottom: 20px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.1s;
  cursor: pointer;
}

.list:hover {
  background: linear-gradient(
    to right top,
    #ff1e1e,
    #ff3832,
    #ff4a44,
    #ff5a54,
    #ff6964
  );
}

.list:hover a {
  color: var(--Purple);
}

.list:nth-child(3) {
  background: linear-gradient(
    to right top,
    #ff1e1e,
    #ff3832,
    #ff4a44,
    #ff5a54,
    #ff6964
  );
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.list:nth-child(3) a {
  color: #fff;
}

.list a {
  color: #212529;
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 500;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.1s;
}

.list a span {
  padding-right: 24px;
  font-size: 23px;
}

.left-part h4 {
  color: #ff3d3b;
  font-family: var(--poppins);
  font-size: 14px;
  padding-bottom: 15px;
  font-weight: 700;
  padding-top: 45px;
}

h6 {
  color: #212529;
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 50px;
}

h6 span {
  color: red;
  font-size: 20px;
}

/* ================================================================================================

===================================================================================================*/

.right-part {
  background-color: #faf9fd;
  padding-top: 50px;
  width: 100%;
  padding-bottom: 50px;
}

.right-part-item {
  padding: 0 50px;
}

.right-part-item h1 {
  color: var(--textColor);
  font-family: var(--poppins);
  font-size: 36px;
  font-weight: 700;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-right {
  display: flex;
  align-items: center;
}

.heading-right .fa-bell {
  padding: 14px 16px;
  background-color: #fff;
  font-size: 24px;
  color: #ff302c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  position: relative;
}

.heading-right .fa-bell:hover {
  background-color: #ff666157;
  color: #ff302c;
}

.heading-right .fa-bell:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ff302c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 10px;
  right: 8px;
}

.heading-right .fa-gear {
  padding: 14px;
  background-color: #fff;
  font-size: 22px;
  color: #ff6661;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  margin-left: 20px;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}

.heading-right .fa-gear:hover {
  background-color: #ff666157;
  color: #ff302c;
}

.heading-user {
  display: flex;
  align-items: center;
}

.heading-user .name {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 7px;
}

.heading-user .name h3 {
  color: var(--textColor);
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 600;
}

.heading-user .name p {
  color: #a098ae;
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 400;
}

.user-logo {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background: url(/image/download.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* ===========================================================================================

============================================================================================*/

.nav {
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-sttudent {
  display: flex;
  align-items: center;
}

.student {
  display: flex;
  align-items: center;
}

.fa-magnifying-glass {
  position: absolute;
  color: red;
  padding-top: 24px;
  padding-left: 32px;

  font-size: 20px;
}

.search input {
  width: 300px;
  padding: 23px 32px;
  padding-left: 70px;
  align-items: center;
  border-radius: 40px;
  background: #fff;
  color: var(--Purple);
  border: 0;
  outline: 0;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}

input::placeholder {
  color: var(--Color-Gray-3, #a098ae);
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font);
}

.search {
  position: relative;
}

.search:hover input {
  box-shadow: 0px 0px 6px -1px rgba(255, 91, 85, 0.75);
  -webkit-box-shadow: 0px 0px 6px -1px rgba(255, 91, 85, 0.75);
  -moz-box-shadow: 0px 0px 6px -1px rgba(255, 91, 85, 0.75);
}

.select {
  padding: 16px 43px;
  border-radius: 40px;
  border: 2px solid #ff5b55;
  display: flex;
  align-items: center;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  cursor: default;
}

.select h5 {
  font-family: var(--poppins);
  color: #ff3530;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.select i {
  font-size: 22px;
  color: #ff3530;
  padding-left: 16px;
  margin-bottom: 5px;
}

.select:hover {
  background: linear-gradient(
    to right top,
    #ff3530,
    #ff433d,
    #ff5049,
    #ff5b55,
    #ff6661
  );
}

.select:hover h5 {
  color: #f3f4ff;
}

.select:hover i {
  color: #f3f4ff;
}

.new-sttudent {
  padding: 20px 30px;
  background: linear-gradient(
    to right top,
    #ff3530,
    #ff433d,
    #ff5049,
    #ff5b55,
    #ff6661
  );
  color: #fff;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  align-items: center;
  margin-left: 24px;
  cursor: pointer;
}

.new-sttudent h4 {
  color: var(--Color-White, #fff);
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 400;
  padding-left: 16px;
  margin: 0;
}

.new-sttudent i {
  font-size: 20px;
}

.new-sttudent:hover {
  background: #f80400;
}

/* ====================================================================================

=======================================================================================*/

.student-list {
  background-color: #fff;
  position: relative;
  padding-bottom: 48px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.student-nav {
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.check {
  display: flex;
  align-items: center;
}

.checkmark {
  width: 20px;
  height: 20px;
}

.check h4 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 600;
  padding-left: 19px;
}

.id h4 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 600;
  padding-left: 117px;
}
.date h5 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 600;
  margin-left: 52px;
}
.parent h3 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 600;
  padding-left: 50px;
}
.city h2 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 600;
}

.contact h2 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 600;
  padding-left: 20px;
}

.grade h2 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 600;
  padding-left: 10px;
}

.action h3 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 600;
}

.student1 {
  padding: 30px 25px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.student1:hover .left-overlay {
  display: block;
}

.left-overlay {
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ff3d3b;
  display: none;
}

.studentlogo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #d48383;
  margin-left: 15px;
}

.student-check input {
  width: 20px;
  height: 20px;
}

.student-user {
  display: flex;
  align-items: center;
}

.student-user h3 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 13px;
  font-weight: 700;
  padding-left: 10px;
}

.id-details h3 {
  color: #212529;
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 600;
  padding-left: 13px;
}

.date-details h3 {
  color: var(--Color-Gray-3, #a098ae);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 400;
  padding-left: 13px;
}

.parent-name h3 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 400;
  padding-left: 12px;
}

.city-details h3 {
  color: var(--textColor, #303972);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 600;
  padding-left: 15px;
}

.contact-details .fa-phone {
  color: #fff;
  padding: 8px;
  border-radius: 20px;
  background-color: #ff6e68;
  margin-left: 16px;
  cursor: pointer;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}

.contact-details .fa-phone:hover {
  background-color: #ff1e1e;
}

.contact-details .fa-envelope {
  color: #fff;
  padding: 8px;
  border-radius: 20px;
  background-color: #ff6e68;
  margin-left: 1px;
  cursor: pointer;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}

.contact-details .fa-envelope:hover {
  background-color: #ff1e1e;
}

.grade-details h5 {
  color: var(--Color-White, #fff);
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 400;
  border-radius: 40px;
}

.grade-details {
  width: 71px;
  height: 33px;
  background-color: #ff3d3b;
  padding: 10px 22px;
  border-radius: 40px;
  margin-left: 10px;
}

.action-details .fa-ellipsis {
  color: #a098ae;
  font-size: 15px;
  padding-left: 15px;
  cursor: pointer;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}

.action-details .fa-ellipsis:hover {
  color: #ff1e1e;
}

.data {
  color: var(--Color-Gray-3, #a098ae);
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 400;
}

.data span {
  color: var(--textColor);
}

.student-list-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
}

.page {
  display: flex;
  align-items: center;
}

.page i {
  color: #ff5c58;
  font-size: 25px;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  cursor: pointer;
}

.page i:hover {
  color: #ff1e1e;
}

.fa-caret-right {
  margin-left: 8px;
}

.one {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid var(--Color-Gray-3, #ff5b588e);
  color: #ff1e1e;
  padding: 10px 20px;
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 400;
  margin-left: 8px;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  cursor: pointer;
}

.one:hover {
  background-color: #ff1e1e;
  color: #fff;
}
